<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="assets/logo.webp" alt="EduFlow Logo" class="logo">
    <a class="navbar-brand" href="#">EduFlow</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/uebersicht">Übersicht</a>
        <a class="nav-link active" aria-current="page" routerLink="/vilsbiburg">Vilsbiburg</a>
        <a class="nav-link active" aria-current="page" target="_blank" href="https://draexlmaier.sharepoint.com/:x:/r/sites/org_HR8-03_Ausbildungoperativ/Shared%20Documents/03_Ausbildung%20operativ/01_Vorlagen/Test.xlsx?d=w8a47496f3d7043cb856dc907e9b3bd9c&csf=1&web=1&e=acOXVT">Landau</a>
        <a class="nav-link active" aria-current="page" href="#">Leipzig</a>
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

